:root {
  --accent-bg-color: var(--accent-purple);
}

.list-container {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.filter-bar {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}

.filter-popover-content {
  margin: 6px;
}

.sidebar-heading {
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}

.loading-spinner {
  min-width: 48px;
  min-height: 48px;
}

.round-pill {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.35rem;
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.install-options-content {
  margin: 12px;
}
