[Desktop Entry]
Type=Application
Name=Haskell Toolchain Manager
Comment=Install GHC, Cabal, HLS and Stack
Exec=ghcup-gtk
Icon=org.haskell.GhcupGtk
Terminal=false
Categories=Development;
