:root {
  --accent-bg-color: var(--accent-purple);
}

columnview.zebra-stripes > listview > row:nth-child(odd) {
  background-color: alpha(currentColor, 0.07);
}

columnview.card > header > button:first-child {
  border-top-left-radius: 12px;
  padding-left: 14px;
}

columnview.card > header > button:last-child {
  border-top-right-radius: 12px;
  padding-right: 14px;
}

columnview.card > listview > row > cell:first-child {
  padding-left: 14px;
}

columnview.card > listview > row > cell:last-child {
  padding-right: 14px;
}

columnview.card > listview > row:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.list-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.table-container {
  margin-top: 24px;
  margin-bottom: 24px;
}


.filter-bar {
  margin-top: 6px;
  margin-bottom: 6px;
}

.round-pill {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.35rem;
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
