:root {
  --accent-bg-color: var(--accent-purple);
}

columnview.zebra-stripes > listview > row:nth-child(odd) {
  background-color: alpha(currentColor, 0.07);
}


.round-pill {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.35rem;
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}
